<div class="container p-0">
    <div class="row bg-white rounded-bottom shadow-box pt-3 pb-2 m-0 mb-3">
        <div class="col-12">
            <h4>Si pozabil geslo?</h4>
        </div>
    </div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card shadow-box">
    
        <div class="card-body">
        
            <h4>Pridobi novo geslo</h4>
            <hr>

            <div class="form-group row">
                <label for="name" class="text-muted col-sm-2 col-form-label">Email:</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-sm-10" %>
            </div>
              
            <div class="col-md-4 col-12 m-auto text-center">
            <%= button_tag( :class => "btn btn-lg btn-block orange-bg text-center py-0 m-auto") do %>
                    <span class="px-3 py-2">Pošlji navodila!</span>
            <% end %>
            </div>

        </div>
    </div>
</div>
<% end %>
