<div class="container p-0">
    <div class="row bg-white rounded-bottom shadow-box pt-3 pb-2 m-0 mb-3">
        <div class="col-12">
            <h4>Urejanje mest</h4>
        </div>
    </div>

    <div class="container my-3 pb-2 bg-white shadow-box rounded">

        <table class="table table-striped">

            <thead>
            <tr>
            <th scope="col">
                Ime
            </th>
            <th scope="col">
                Uredi
            </th>
            <th scope="col">
                Izbriši
            </th>
            </tr>
            </thead>

            <tbody>
        
            <% @manufacturers.order(:name).each do |manufacturer| %>

                    <tr>
                    <td>
                    <%= manufacturer.name %>
                    </td>
                    <td>
                    <%= link_to edit_manufacturer_path(manufacturer) do %><i class="fa fa-pencil fa-2x text-muted"></i><% end %>
                    </td>
                    <td>
                    <%= link_to manufacturer, method: :delete, data: { confirm: "Preden izbrišete znamko se prepričajte, da nima nobenega modela!" } do %><i class="fa fa-times fa-2x text-danger"></i><% end %>
                    </td>
                    </tr>

            <% end %>
        </tbody>
        </table>

        <div class="col-12 col-md-4 m-auto">
                        <div class="input-group h-100">

                        <%= link_to new_manufacturer_path, class: "btn btn-block h-100 text-center orange-bg text-center py-0 text-white" do %>
                            <i class="fa fa-plus px-2"></i>
                            <span class="px-3 text-truncate">Dodaj znamko</span>
                        <% end %>
                        </div>
                    
                    </div>

    </div>

</div>